extends layout

block content
    section(id="connecting")
        h1 Connecting…
    section(id="timer")
        h1 00
    section(id="thanks")
        h1 Thank You!
    script(src="/js/monitor.js")
